.typewriter h1 {
    overflow: hidden; 
    margin: 0 auto; 
    letter-spacing: .05em; 
    animation: 
    typing 1s steps(80, end);
    font-size:60px;
    transition: all 1s ease-in-out;
    color: var(--font-color-secondary)
  }
  
  @keyframes typing {
    from { width: 0;   color: var(--background-color); font-size:180px; }
    to { width: 100%;   color: var(--font-color-secondary); font-size:60px; }
  }
  
