@import '../../variables.css';

.projectText  {
    color: var(--font-color-dark);
    animation: stretchOut 2s forwards;
    width:0%;
}

@keyframes stretchOut {
    100% { width:100%; color: var(--font-color-primary); }
}

.projectHeading {
    color: var(--font-color-primary);
}

.projectImage {
    width:100%;
    height:100%;
    animation: fadeIn 2s forwards;
    animation-delay: 1s;
    opacity: 0;
    margin-top:48px;
}

@keyframes fadeIn {
    100% { opacity: 100;}
}

.tagListContainer {
    display:flex;
    opacity: 100; 
    flex-wrap: wrap;
  }
  
  .tag {
    text-align: center;
    background: var(--secondary-color); 
    margin:5px;
    padding:5px;
    width:fit-content;
    list-style-type: none;
    animation: dropIn 0.5s forwards;
    font-size:0px;
  }

  @keyframes dropIn {
    0%  { font-size:2px; background: var(--color-red); }
    100% { font-size:16px; background: var(--secondary-color);  }
  }
  
  .tag:nth-child(1)  {
     animation-delay: 0.2s;
  } 
  .tag:nth-child(2) {
    animation-delay: 0.3s;
  } 
  .tag:nth-child(3) {
    animation-delay: 0.4s;
  } 
  .tag:nth-child(4) {
    animation-delay: 0.5s;;
  } 
  .tag:nth-child(5) {
    animation-delay: 0.6s;
  }
  .tag:nth-child(6) {
    animation-delay: 0.7s;
  }
  .tag:nth-child(7) {
    animation-delay: 0.8s;
  }
  .tag:nth-child(8) {
    animation-delay: 0.9s;
  }

  .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
  }

  .arrowLeft {
    left: 5%;
  }

  .arrowRight {
    right: 5%;
  }

  .arrow i {
    transition: opacity 0.5s ease-in-out;
    opacity: 30%;
  }

  .arrow:hover {
    cursor: pointer;
  }

  .arrow:hover > i {
    opacity: 100;
  }


