@import "../../variables.css";

.projectsHeading {
  margin-top:48px;
  color: var(--font-color-primary);
  animation: fadeIn 1s forwards;
  opacity: 0;
  animation-delay: 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}