@import "../../variables.css";

.button {
  width: 200px;
  background-color: var(--button-color-primary);
  padding: 12px;
  border-radius: 4px;
  border: none;
  transition: all 0.2s ease-in-out;
  color: var(--font-color-dark);
  cursor: pointer;
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--font-color-dark);
    color: var(--font-color-secondary);
  }
  .button:hover > .link {
    color: var(--font-color-secondary);
  }
}

.link {
  display: block;
  width: 100%;
  color: var(--font-color-dark);
}
