@import '../../variables.css';

.menu {
    background:var(--secondary-color);
    height: 100vh;
    width: 0vw;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
    flex-direction: column;
    text-align: center;
    display:flex;
    transition: all .45s cubic-bezier(.43,.77,.15,1.5);
}

.menu li {
    line-height: 3;
    cursor: pointer;
    font-size: 60px;
    list-style-type: none;
    height:100%;
    width:100%;
    transition: all .45s cubic-bezier(.43,.77,.15,1.5);
    display: none;
}

.menu li:hover {
    background:var(--primary-color);
    color:var(--hover-color);
    line-height: 5;
    font-size: 70px;
}

.menu li a {
    display:block;
    height:100%;
    width:100%;
    text-decoration: none;
    color:var(--background-color);
}

.menu li a:hover {
    color:var(--font-color-primary);
}

.menu[data-is-menu-open="true"] {
    display:flex;
    width: 100vw;
}

.menu[data-is-menu-open="true"] li {
    display:block;
}
