.slideRightHeading h1 {
    display:flex; 
    flex-direction: row;
}

.letter {
  color: var(--font-color-secondary);
  animation: bounce-in 1.5s forwards;
  transition: all 1s cubic-bezier(0.43, 0.77, 0.15, 1.5);
  opacity: 100;
}
    
@keyframes bounce-in {
   0%  {width:100vw; color: var(--font-color-primary); opacity:0%}
   40%  {width:0px; opacity:40%; }
   100% {width:40px; height:1px}
}
