@import "../../variables.css";

.arrow {
  border: solid var(--primary-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
  transition: border 0.5s ease-in-out;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
