@import "../../variables.css";

.card {
  width: 100%;
  height: 400px;
  cursor: pointer;
  animation: fadeIn 1s ease-in;
  position: relative;
}

.cardImage {
  width:100%;
  transition: all .45s ease-in-out;
}

.cardLink {
  color: var(--font-color-dark);
}

.tagListContainer {
  position: absolute;
  top: 104px;
  left:40px;
  display:flex;
  opacity: 0; 
  flex-wrap: wrap;
  max-width:350px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tag {
  text-align: center;
  background: var(--secondary-color); 
  margin:5px;
  padding:5px;
  width:fit-content;
  list-style-type: none;
  animation: fadeIn 0.5s linear;
  font-size:16px;
}

.header {
  background-color: var(--secondary-color); 
  transition: all .45s ease-in-out;
}

.heading {
  color: var(--font-color-dark);
  padding: 8px;
  animation: fadeIn 1s steps(80, end);
  text-align: center;
  margin:0px;
  font-size:20px;
  font-weight: 500;
  transition: all .45s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@media (hover: hover) {

  .cardLink:hover > .cardImage {
    filter: brightness(10%);
  }

  .cardLink:hover > .header {
    background-color: var(--background-color); 
  }
  
  .cardLink:hover > .header > .heading {
    color: var(--primary-color); 
  }

  .tagListContainer {
    --delay: 0.05s;
  }

  .tagListContainer li {
    opacity: 0;
    transition: 0.2s;
  }

  .cardLink:hover > .tagListContainer  {
    opacity: 100;
  }

  .cardLink:hover > .tagListContainer li {
    /* transform: translateY(-10px); */
    opacity: 100;
  }
  .tagListContainer li:nth-child(1) {
    transition-delay: calc(var(--delay) * 0);
  }
  .tagListContainer li:nth-child(2) {
    transition-delay: calc(var(--delay) * 1);
  }
  .tagListContainer li:nth-child(3) {
    transition-delay: calc(var(--delay) * 2);
  }
  .tagListContainer li:nth-child(4) {
    transition-delay: calc(var(--delay) * 3);
  }
  .tagListContainer li:nth-child(5) {
    transition-delay: calc(var(--delay) * 4);
  }
  .tagListContainer li:nth-child(6) {
    transition-delay: calc(var(--delay) * 5);
  }
}