@import "../../variables.css";

.headingContainer {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display:flex;
}

.heading {
  overflow: hidden; 
  margin-right: auto; 
  letter-spacing: 0.05em; 
  font-size: 40px;
  transition: all 1s ease-in-out;
  border-bottom: 4px solid var(--highlight-color);
  line-height: 0.95;
  width:70%;
}

.heading[data-has-animation="true"] {
  animation: typing 1s steps(80, end);
}

@keyframes typing {
  from {
    width: 0;
    color: var(--font-color-primary);
    font-size: 180px;
    border-bottom: 100px solid var(--hover-color);
  }
  to {
    width: 100%;
    color: var(--background-color);
    font-size: 40px;
    border-bottom: 2px solid var(--highlight-color);
  }
}
