.wavingJulian {
  width: 100px;
  background-image: url("../../images/julian1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  animation: waving 2s forwards, fadeIn 0.5s forwards;
  animation-delay: 2s;
  opacity: 100;
  cursor: pointer;
}

.wavingJulian:hover {
  background-image: url("../../images/julian3.png");
}

@keyframes waving {
  0% {
    background-image: url("../../images/julian1.png");
    opacity: 0;
  }
  1% {
    opacity: 100;
  }
  80% {
    background-image: url("../../images/julian3.png");
  }
  91% {
    background-image: url("../../images/julian2.png");
  }
  92% {
    background-image: url("../../images/julian1.png");
  }
}

.byeJulian {
  animation: byebye 1s forwards;
}

@keyframes byebye {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(2000px) rotate(5deg);
  }
}
