@import '../../variables.css';

.cardGroup {
  margin-top:48px;
}

.cards {
    display:flex;
    flex-flow: row wrap;
    margin:48px 0 48px -.5rem;
}

.cards > div {
  flex:1 0 25%;
  min-width: 400px;
  margin:0 0 1rem 1rem;
}
